ansitable==0.9.10
asyncio==3.4.3
cfgv==3.4.0
colored==1.4.4
contourpy==1.2.0
cycler==0.12.1
DateTime==5.5
distlib==0.3.8
filelock==3.13.3
fonttools==4.50.0
identify==2.5.35
kiwisolver==1.4.5
matplotlib==3.8.3
nodeenv==1.8.0
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pgraph-python==0.6.2
pillow==10.2.0
platformdirs==4.2.0
pre-commit==3.7.0
progress==1.6
pygame==2.5.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
roboticstoolbox-python==1.1.0
rtb-data==1.0.1
scipy==1.11.1
six==1.16.0
spatialgeometry==1.1.0
spatialmath-python==1.1.9
swift-sim==1.1.0
typing_extensions==4.10.0
virtualenv==20.25.1
websockets==12.0
zope.interface==6.2
